* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 75%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background: linear-gradient(#000000, #434343, #000000);
    /*learn more about bg gradiant*/
}

nav {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1, .brand {
    color: #E6533C;
    font-size: 3rem;
    font-style: italic;
    font-weight: 800;

}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: #FFF;
    font-size: 1.5rem;
    border-radius: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.10);
    padding: 0.25rem;

}

.nav-links li:nth-child(1) {
    display: flex;
    border-radius: 3rem;
    background: #E6533C;
    padding: 0.5rem 1.25rem;
}

.hamburger-menu {
    display: none;
}

.hero {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding-bottom: 5rem;*/
}

.hero-text h1 {
    color: #FFF;
    font-size: 6rem;
    font-style: normal;
    font-weight: 900;
    line-height: 0.5;
}

.shape {
    color: #FFF;
    font-family: "Miama", sans-serif;
    font-size: 12rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-text p {
    margin-top: 1.5rem;
    color: rgba(255, 255, 255, 0.50);
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.035em;
    padding-right: 10rem;
}

.hero-cta {
    display: flex;
    gap: 2rem;
}

.btn, .secondary-cta__button {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.3rem 4rem;
    border-radius: 2.625rem;
    border: none;
    box-sizing: border-box;
}

.btn-primary, .secondary-cta__button {
    background: #E6533C;
}

.btn-secondary {
    background: #000;
    border: 1px solid white;
    padding: 1.2rem 4rem;
}

.hero-img {
    background-image: url("public/Images_2.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 48.6rem;
    position: relative;
}

.card {
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
}

.card h1 {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 900;
}

.card p {
    color: rgba(255, 255, 255, 0.65);
    letter-spacing: 0.0625rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

.circle {
    border-radius: 50%;
    background: #E6533C;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 6rem;
    left: 5rem;
}

.card-1 {
    position: absolute;
    right: -5rem;
    top: 12rem;
}

main {
    background: black;
}

.habits-text {
    margin: 0 auto;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    text-align: center;
    gap: 2rem;
}

.habits-text h1 {
    color: #fdfdfd;
    font-size: 4rem;
    text-align: center;
}

.habits-text p {
    color: #7d7d7d;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    line-height: 1.5;
}

.habits-grid-item img {
    width: 100%;
    height: auto;
    border-radius: 100%;
    margin-bottom: 2rem;
}

.habits-grid {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10rem;
}

.habits-grid-item h1 {
    color: #fdfdfd;
}

.habits-grid-item p {
    color: #7d7d7d;
    font-size: 1.1rem;
}

.habits-grid-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}


.secondary-cta {
    margin-top: 5rem;
    display: flex;
    background: #222222;
    border-radius: 1.5rem;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.secondary-cta img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1.5rem;
}

.cta__img {
    max-width: 40%;
}

.secondary-cta__text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.secondary-cta h1 {
    color: #fdfdfd;
    font-size: 5rem;
}

.secondary-cta p, .bmi-text p {
    max-width: 80%;
    font-size: 1.2rem;
    color: #7d7d7d;
    line-height: 1.4;
}

.bmi-text {
    margin: 8rem auto;
    max-width: 55%;
}

.bmi-text h1 {
    color: #fdfdfd;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.bmi-chart h1, .bmi-calculator h1 {
    color: #fdfdfd;
    font-size: 2.5rem;
}

.bmi-calculator__bg {
    background: #222222;
    padding-bottom: 5rem;
}

.bmi-calculator {
    display: flex;
    padding-top: 4rem;
    max-width: 75%;
    justify-content: space-between;
    margin: 0 auto;
    /*gap: 5rem;*/
}

.bmi-calculation p, .team p, .training-text {
    color: #7d7d7d;
    font-size: 1.2rem;
}

.training-text {
    max-width: 70%;
    line-height: 1.5;
}

.bmi-calculation {
    max-width: 50%;
}

.input-group input::placeholder {
    color: #acacac;
}


.input-group {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.input-group select, input {
    width: 100%;
    padding: 1.3rem;
    border-radius: 0.5rem;
    background: #373737;
    color: #acacac;
    border: none;
    outline: none;
    font-size: 1.3rem;
}

.input-row-1, .input-row-2, .input-row-3 {
    gap: 1rem;
    display: flex;
    justify-content: space-between;
}

.bmi-calculation {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.bmi-calculation button {
    font-size: 1.5rem;
    padding: 1.3rem 6rem;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #373737;
    border-collapse: collapse;
    padding: 1.2rem;
    text-align: left;
    font-size: 1.2rem;
}

table {
    width: 100%;
    margin-top: 4rem;
}

th {
    color: #fdfdfd;
}

td {
    color: #8e8e8e;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    gap: 1rem;
    padding-bottom: 8rem;
}

.team h1 {
    color: #FFF;
    font-size: 3rem;
    font-weight: 900;
}

.team > p {
    font-size: 1.22rem;
}

.team-img-grid {
    margin-top: 5rem;
    border-radius: 1.125rem;
    background: rgba(255, 255, 255, 0.10);
    padding: 1.5rem;
    display: grid;
    gap: 1.5rem;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.trainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2rem;
    padding-left: 2rem;
    border-radius: 1.5rem;
    min-height: 25rem;
    align-self: stretch;
}

.trainer h1 {
    font-size: 2rem;
}

.trainer p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 1rem;
}

.trainer-1 {
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url("public/trainer1.png") no-repeat top;
}

.trainer-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url("public/trainer2.png") no-repeat center;
    background-size: cover;
}

.trainer-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url("public/trainer3.png") center;
    background-size: cover;
}

.trainer-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url("public/trainer4.png") center;
    background-size: cover;
}

.trainer-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url("public/trainer5.png");
    background-size: cover;
}

.trainer-6 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url("public/trainer6.png");
    background-size: cover;
}

footer {
    background-color: #181818;
}

.footer-container {
    padding: 5rem 0;
}

.footer-links {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    place-items: flex-end;
    gap: 5rem;
}

.footer-links > div {
    align-self: flex-start;
}


.footer-links p {
    color: #7d7d7d;
    font-size: 1.2rem;
    line-height: 1.5;
}

.brand {
    margin-bottom: 1rem;
    font-size: 7rem;
}

.links h1 {
    margin-bottom: 1.5rem;
    color: #fdfdfd;
    font-size: 2.5rem;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.links a, .footer-text {
    color: #8e8e8e;
    font-size: 1.8rem;
}

.line {
    margin-top: 5rem;
    height: 2px;
    max-width: 100%;
    background-color: #2e2e2e;
}

.footer-text {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.6rem;
}

.training h1 {
    margin-bottom: 1.5rem;
    color: #fdfdfd;
    font-size: 4.5rem;
}

.training {
    margin-top: 8rem;
}

.training-img-grid-1 {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 18rem;
}

.training-img-grid-2 {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.2fr;
    height: 18rem;
}

.img-1 {
    background: linear-gradient(0deg, rgba(6, 255, 210, 0.50) 0%, rgba(6, 255, 210, 0.50) 100%), url("public/exercise1.jpg") no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 2rem;
    font-weight: 600;
    color: rgba(20, 45, 74, 0.85);
    font-size: 0.85rem;
}

.img-2 {
    background: linear-gradient(0deg, rgba(133, 0, 35, 0.5), rgba(133, 0, 35, 0.5)), url("public/exercise2.png") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    padding: 2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
}

.img-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("public/exercise3.png") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 2rem;
    font-weight: 600;
    color: #fdfdfd;
}

.img-4 {
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("public/exercise4.png") no-repeat center;
    background-size: cover;
    display: flex;
    padding: 2rem;
    justify-content: flex-end;
    font-weight: 600;
    color: rgba(253, 253, 253, 0.69);
}

.img-5 {
    background: linear-gradient(0deg, rgba(51, 207, 42, 0.49) 0%, rgba(51, 207, 42, 0.5) 100%), url("public/exercise5.jpg") no-repeat;
    background-size: cover;
    display: flex;
    padding: 2rem;
    align-items: flex-end;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.73);
    font-size: 0.85rem;
}

.img-6 {
    background: linear-gradient(rgba(24, 74, 175, 0.5) 0, rgba(24, 74, 175, 0.5) 100%), url("public/exercise6.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    padding: 2rem;
    align-items: flex-end;
    font-weight: 600;
    color: #ffffff;
    font-size: 0.85rem;
}


.team-info {
    max-width: 70%;
    line-height: 1.25;
}

.reviews {
    margin-top: 10rem;
}
.reviews h1, .reviews .brand {
    color: white;
    font-size: 4rem;
    max-width: 60%;
    text-align: left;
    line-height: 60px;

}

.reviews .brand {
    font-size: 5rem;
    color: #E6533C;

}

.review-cards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 10rem;
    position: relative;

}

.review {
    max-width: 45%;
    background-color: #FFFFFF;
    padding: 3rem;
    border-radius: 0.5rem;
}

.review-card-left {
    display: flex;
    flex-direction: column;
}

.review h2 {
    color: rgba(0 25 85);
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    margin-bottom: 2rem;
}

.review p {
    font-size: 1.1rem;
    color: #7d7d7d;
    line-height: 1.5;
    text-align: left;
    text-wrap: balance;
}

.review-heading {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.review-footer {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.review-footer .name {
    display: flex;
    font-size: 0.85rem;
    font-weight: bold;
    color: rgba(0 25 85);
}

.review-footer .location {
    font-size: 0.9rem;
    color: rgba(0 25 85);

}

.review-footer span {
    font-style: italic;
    font-size: 0.8rem;
    color: #7d7d7d;

}

.review-footer img {
    max-width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid #181818;
    padding: 1rem;

}

.review-card-center {
    background-color: #fff;
    position: absolute;
    padding-top: 4rem;
    padding-bottom: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.review-card-left {
    opacity: 0.5;
}

.review-card-right {
    opacity: 0.5;
    z-index: 1;
}

.previous, .next, .review-count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
}

.next {
    rotate: 180deg;
}

.review-count {
    width: max-content;
    color: #fdfdfd;
}

.buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 5rem;
}

/*NAV MEDIA QUERY*/
@media screen and (max-width: 576px) {
    .wrapper {
        max-width: 90%;
    }

    .nav-links {
        border: none;
        padding: 0;
    }

    .nav-links li:nth-child(1) {
        display: none;
    }

    .nav-links li {
        display: none;
    }

    .nav-links li:last-child {
        display: inline-block;

    }

    .hamburger-menu {
        display: block;
    }
}

/*HERO MEDIA QUERY*/
@media screen and (max-width: 576px) {
    .hero {
        flex-direction: column;
    }

    .hero-text {
        max-width: 100%;
        margin: 0 auto;
    }

    .hero-text h1 {
        max-width: 70%;
        font-size: 2.25rem;
    }

    .shape {
        font-size: 4.5rem;
    }

    .hero-text p {
        margin-top: 1rem;
        font-size: 1rem;
        padding-right: 5rem;
    }

    .hero-cta {
        gap: 1rem;
    }

    .btn {
        padding: 1rem 1.5rem;
        font-size: 1rem;
        font-weight: 600;
    }

    .btn-secondary {
        padding: 0.75rem 1.25rem;
        background: transparent;
    }

    .card {
        padding: 0.5rem 1rem;
        line-height: 1.7;
    }

    .card h1 {
        font-size: 1.7rem;
    }

    .card p {
        font-size: 0.55rem;
    }

    .circle {
        height: 2.5rem;
        width: 2.5rem;
    }

    .card-1 {
        right: 0;
        top: 4rem;
    }

    .card-2 {
        bottom: 15rem;
        left: 0;
    }

    .hero-img {
        height: 35rem;
        margin-top: 2rem;
    }

}

/*HABITS MEDIA QUERY*/
@media screen and (max-width: 576px) {
    .habits-grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 4rem;
        margin-top: 2rem;
        gap: 3rem;
    }

    .habits-text {
        padding-top: 1rem;
        max-width: 100%;
    }

    .habits-text h1 {
        font-size: 2rem;
    }

    .habits-text p {
        font-size: 1rem;
        max-width: 95%;
        text-wrap: balance;
    }

    .habits-grid-item img {
        /*border: 1rem solid transparent;*/
    }

    .habits-grid-item h1 {
        font-size: 1.2rem;
        color: #fdfdfd;
    }

    .habits-grid-item p {
        font-size: 1rem;
    }
}

/*SECONDARY-CTA*/
@media screen and (max-width: 576px) {
    .secondary-cta {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        gap: 2rem;
    }

    .secondary-cta h1 {
        font-size: 2.5rem;
    }

    .secondary-cta__text {
        max-width: 100%;
        margin-left: 1.5rem;
        margin-top: 2rem;

    }

    .secondary-cta p {
        font-size: 1rem;
        max-width: 100%;
        line-height: 1.6;
    }

    .secondary-cta__button {
        width: 90%;
        margin: 0 auto;
        padding: 1.1rem;
        font-weight: 400;
    }

    .cta__img {
        max-width: 90%;
        margin-bottom: 1rem;
    }

    .secondary-cta img {
        border-radius: 1rem;
    }
}

/*BMI SECTION*/
@media screen and (max-width: 576px) {
    .bmi-text {
        margin: 2rem auto;
        max-width: 90%;
    }

    .bmi-text h1 {
        font-size: 2.5rem;
        font-weight: 900;

    }

    .bmi-text p, .bmi-calculation p {
        font-size: 1rem;
        max-width: 100%;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0.01875rem;
    }

    .bmi-chart h1, .bmi-calculator h1 {
        font-size: 1.5rem;
    }

    .bmi-calculator {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 90%;
        padding-top: 2rem;
    }

    .bmi-chart {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    table {
        margin-top: 2rem;
    }

    .bmi-calculation {
        max-width: 100%;
    }


    .bmi-calculation button {
        padding: 1.2rem 4rem;
        font-size: 1.3rem;
    }

    table, th, td {
        padding: 1rem;
        font-size: 1rem;
    }

    .input-group select, input {
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        background: #373737;
        color: #acacac;
        border: none;
        outline: none;
        font-size: 1rem;
    }

}

/*TEAM SECTION*/
@media screen and (max-width: 576px) {

    .team-img-grid {
        margin-top: 3rem;
        grid-template-columns: repeat(1, 1fr);
    }

    .trainer {
        padding-bottom: 1rem;
        border-radius: 1.5rem;
        min-height: 18rem;
    }

    .trainer h1 {
        font-size: 1.5rem;
    }

    .trainer-1, .trainer-4 {
        display: none;
    }

    .team {
        gap: 1rem;
        padding-bottom: 5rem;
    }

    .team h1 {
        font-size: 2.5rem;
    }

    .team > p {
        text-align: center;
        max-width: 90%;
    }


}

/*FOOTER SECTION*/
@media screen and (max-width: 576px) {
    .footer-links {
        grid-template-columns: repeat(1, 1fr);
        place-items: flex-start;
        gap: 3rem;
    }

    .brand {
        margin-bottom: 1rem;
        font-size: 5rem;
    }

    .footer-links p {
        color: #7d7d7d;
        font-size: 1rem;
        line-height: 1.5;
    }

    .links h1 {
        font-size: 2.2rem;
    }

    .links a {
        color: #8e8e8e;
        font-size: 1.5rem;
    }

    .links {
        gap: 1rem;
    }

    .footer-text {
        text-align: left;
        font-size: 1.2rem;
    }

}

/*TRAINING SECTION*/
@media screen and (max-width: 576px) {
    .training {
        margin-top: 5rem;
        padding: 0;
    }

    .training h1 {
        font-size: 2.5rem;
    }

    .training p {
        max-width: 100%;
        font-size: 1rem;
    }

    .training-img-grid-1 {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        height: 11rem;
    }

    .training-img-grid-1 p, .training-img-grid-2 p {
        font-size: 0.8rem;
    }

    .training-img-grid-2 {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        height: 11rem;
    }

    .img-3, .img-6 {
        display: none;
    }
}

/*REVIEW SECTION*/
@media screen and (max-width: 576px) {

    .reviews h1, .reviews .brand {
        color: white;
        font-size: 1.5rem;
        max-width: 100%;
        text-align: left;
        line-height: 1;
        margin-bottom: -3rem;

    }

    .reviews .brand {
        font-size: 4rem;
        color: #E6533C;
    }

    .review-cards {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 20rem;
        margin-bottom: -12rem;
    }

    .review {
        max-width: 100%;
    }

    .review-card-left, .review-card-right {
        display: none;
    }

    .review h2 {
        font-size: 1rem;
    }

    .review p {
        font-size: 1.05rem;
        line-height: 1.1;

    }
    .review-heading img{
        max-width: 6%;
    }
    .review-footer img {
        max-width: 5rem;
    }

    .review-card-center {
        position: relative;
    }
    .buttons{
        margin-top: 0;
    }
}